<h2><%= capitalize_each_word(@product.name) %></h2>
<section>
  <p>
    <%= image_tag "#{@product.photo_url}", alt: "#{@product.name}" %>
  </p>
</section>

<section>
  <p>
    <strong>Description</strong>: <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong> <%= show_dollars(@product.price) %>
  </p>

  <p>
    <strong>Quantity:</strong> <%= @product.stock %>
  </p>
</section>

<section>
  <% unless @product.categories.empty? %>
    <h3>Categories</h3>
    <ul>
      <% @product.categories.each do |category| %>
      <li>
        <%= link_to "#{category.name}", category_path(category) %>
      </li>
      <% end %>
    </ul>
  <% end %>
</section>

<section>
  <h3>Reviews</h3>
  <% if @product.reviews.empty? %>
  <p>
    No reviews! <%= link_to "Be the first.", new_product_review_path(@product.id) %>
  </p>
  <% else %>
  <% @product.reviews.each do |review| %>

  <section>
    <p>
      <strong><%= date_format(review.created_at) %></strong>
    </p>

    <p>
      Rating: <%= review.rating %>
    </p>

    <p>
      Description: <%= review.description %>
    </p>
    <% end %>
  </section>
  <p>
    <%= link_to "Review this product!", new_product_review_path(@product.id) %>
  </p>
  <% end %>
</section>
