<h1><%= @product.name %></h1>

<h3><%= "*Product is currently retired*" if @product.active == false %>

<% image = Product.find_photo_image(@product) %>
<p><%= image_tag image, alt: "#{ @product.name }" %></p>

<p><%= "Description: #{ @product.description }" %></p>

<p><%= "Price: $#{ sprintf('%.2f' % (@product.price/100.0)) }" %></p>

<p>
  <%#= link_to "Add To Cart", add_to_cart_path %>
</p>

<% if current_user %>
  <% if @product.active == true %>
  <p><%= link_to "Retire product", retire_product_path, method: :patch %></p>
  <% else %>
  <p><%= link_to "Reinstate product", reinstate_product_path, method: :patch %></p>
  <% end %>
<% end %>
