<h1><%= @product.name %></h1>

<% image = @product.name.downcase.gsub(' ', '_') %>
<p><%= image_tag "#{image}.jpeg", alt: "#{ @product.name }" %></p>

<p><%= "Description: " + @product.description %></p>

<p><%= "Price: $#{ sprintf('%.2f' % (@product.price/100.0)) }" %></p>

<p>Future "Add To Cart" functionality</p>

<%= link_to "Add To Cart", add_to_cart_path(@product), method: :get %>
