<h3><%= "*Product is currently retired*" if @product.active == false %>

<section class="row small-up-2">
  <section class="column">
    <% image = Product.find_photo_image(@product) %>
    <p><%= image_tag image, alt: "#{ @product.name }" %></p>
    <section class="row small-up-2">
      <p class="column"><%= "Description: #{ @product.description }" %></p>
      <p class="column">Button to Review Product</p>
    </section>
  </section>
  <section class="column">
    <h1><%= @product.name %></h1>
    <p><%= "Price: $#{ sprintf('%.2f' % (@product.price/100.0)) }" %></p>
    <p>Link to Add to Cart</p>
    <p>Stock: <%= @product.inventory %></p>
  </section>
</section>

  <% if current_user %>
    <% if @product.active == true %>
    <p><%= link_to "Retire product", retire_product_path, method: :patch %></p>
    <% else %>
    <p><%= link_to "Reinstate product", reinstate_product_path, method: :patch %></p>
    <% end %>
  <% end %>

  <h2>Reviews</h2>
  <% unless @reviews.count == 0 %>
    <% @reviews.each do |r| %>
      <p><% r.rating.times do |i| %>
        <%= "ðŸµ " %>
      <% end %>
      <%= ": #{ r.description }" %></p>
    <% end %>
  <% else %>
    <h4>No reviews yet.</h4>
  <% end %>

  <% unless current_user == nil || @product.merchant_id == current_user.id %>
    <p><%= link_to "Review this product", new_product_review_path(@product) %></p>
  <% end %>

  </section>
</section>
