<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Zoolily</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="top-bar">
      <h1 class="title_area"><%= link_to "ZOOLILY", root_path %></h1>

      <nav class="top-bar-section">
        <ul class="menu top-bar-right">
          <li>
            <% if current_user %>
              <%= button_to "Log out", logout_path, { method: :delete, data: { confirm: "Are you sure you want to log out?" }, class: "log-out-button"} %>
            <% else %>
              <%= button_to "Log in with Github", '/auth/github', method: :post, class: "github-button" %>
            <% end %>
          </li>
          <li>
            <% if current_user %>
              <%= button_to "Dashboard", merchant_path(current_user), method: :get, class: "dashboard-button" %>
            <% else %>
              <%= button_to "Sign up with Github", '/auth/github', method: :post, class: "dashboard-button" %>
            <% end %>
          </li>
          <li>
            <%= button_to "View Cart", order_items_path, method: :get, class: "cart-button" %>
          </li>
        </ul>
      </nav>

      <div class="lower-nav">
        <ul>
          <li>
            <%= button_to "Shop All Products", products_path, method: :get, class: "get-products-button" %>
          </li>

          <nav class="row">
            <!-- Make this unordered list horizontal at medium and larger screens & verticle on small ones  -->
            <section class="small-12 columns">
              <ul class="vertical menu medium-horizontal" data-responsive-menu="accordion medium-dropdown">
                <li>
                  Products by Category
                  <ul class="menu vertical">
                    <li>
                      <% Category.all.each do |cat| %>
                        <%= link_to("#{ cat.name }", category_path(cat.id)) %>
                      <% end %>
                    </li>
                  </ul>
                </li>
                <li>
                  Products by Merchant
                  <ul class="menu vertical">
                    <li>
                      <% Merchant.all.each do |merch| %>
                        <%= link_to "#{ merch.username }", merchant_path(merch.id) %></option>
                      <% end %>
                    </li>
                  </ul>
                </li>
              </ul>
            </section>

          <li class="search-form">
            <%= form_tag(products_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
              <%= submit_tag "Search", :name => nil %>
            <% end %>
          </li>
        </ul>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
